---
title: Lastschrift
---
extends layouts/_layout
block content
    section.lastschrift
        h1.title.lastschrift__title SEPA-Lastschrift-Mandat
        .row.lastschrift__row
            .frame.frame_sm
                h2.subtitle Name und Anschrift des Zahlers
            .frame.frame_lg
                h2.subtitle Name des Zahlungsdienstleisters des Zahlers
                .row.frame__row
                    .col
                        h2.subtitle BIC
                    .col
                        h2.subtitle IBAN
        .row.lastschrift__row
            .frame.frame_sm
                h2.subtitle Name und Anschrift des Zahlungsempfängers
                p.text PARCEL.ONE GmbH
                p.text Otto-Hahn-Str. 21
                p.text 35510 Butzbach
            .frame.frame_lg
                h2.subtitle Name des Zahlungsdienstleisters des Zahlers
                p.text DE67ONE00002014326
                .row.frame__row
                    .col
                        h2.subtitle Mandatsreferenz
                    .col
                       p.text.text-checkbox Mandat für einmalige Zahlungen
                       p.text.text-checkbox.text-checkbox_true Mandat für wiederkehrende Zahlungen

        h2.subtitle.lastschrift__subtitle SEPA-Lastschrift
        p.text
            b 1.1 SEPA-Lastschrift-Mandat an den Zahlungsempfänger
        p.text.lastschrift__text Ich ermächtige (Wir ermächtigen) PARCEL.ONE GmbH, Zahlungen von meinem (unserem) Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein (weisen wir unser) Kreditinstitut an, die von PARCEL.ONE GmbH auf mein (unser) Konto gezogenen Lastschriften einzulösen.
        p.text.lastschrift__text
            b Hinweis:
            | Ich kann (Wir können) innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlanden. Es gelten dabei die mit meinem (unserem) Kreditinstitut vereinbarten Bedingungen.
        p.text
            b 1.1 Bestätigung des SEPA-Mandats gegenüber dem Zahlungsdienstleister d. Zahlers
        p.text.lastschrift__text Ich bestätige/Wir bestätigen gegenüber meinem/unseren oben genannten Zahlungsdienstleister die Erteilung des oben aufgeführten SEPA-Lastschriftmandats an den oben genannten Zahlungsempfänger.

        .row.lastschrift__bottom
            .frame.frame_md
                h2.subtitle Unterschrift(en) des/der Kontoinhabers/Kontoinhaber
                p.text Dokument wurde elektronisch signiert
                p.text IP-Adresse:
            .frame.frame_md
                h2.subtitle Ort, Datum
                p.text ,