---
title: Zusammenfassung
---
extends layouts/_layout
block content
    section.zusammenfassung
        .header
            .header__logo
                img(src="img/logo.png", alt="parcel.one")
        .lines
            .line.line_red
                p Wir stemmen deinen
            .line.line_blue
                p internationalen Versand
        .zusammenfassung__content
            h1.title.zusammenfassung__title Kerbs & Kremer GbR
            h2.subtitle.zusammenfassung__subtitle Online-Registrierung
            .zusammenfassung__details
                p.text Datum: 03.06.2020
                p.text Kundennummer: 123456789
            h2.subtitle.zusammenfassung__text Rechnungsadresse
            p.text.zusammenfassung__text
                b Firma * <br>
                | Kerbs & Kremer GbR
            p.text.zusammenfassung__text
                b Straße, Nr. * <br>
                | Blumenstraße 31
            p.text.zusammenfassung__text
                b PLZ, Ort * <br>
                | 35516 Münzenberg
            p.text.zusammenfassung__text ...

            h2.subtitle.zusammenfassung__text Details zur Ware
            p.text.zusammenfassung__text
                b Versandgut <br>
                | Notebooks
            p.text.zusammenfassung__text
                b Ø Warenwert * <br>
                | 150
            p.text.zusammenfassung__text ...
        .zusammenfassung__footer
            .col
                p.text-footer PARCEL.ONE 21 GmbH
                p.text-footer Otto-Hahn-Str. 21
                p.text-footer 35510 Butzbach
                p.text-footer Deutschland
            .col
                p.text-footer Tel +49 6033 - 35225 -0
                p.text-footer Fax +49 6033 - 35225 - 88
                p.text-footer info@parcel.one
                p.text-footer www.parcel.one
            .col
                p.text-footer Amtsgericht Friedberg HRB8537
                p.text-footer Sitz der Gesellschaft ist Butzbach
                p.text-footer Geschäftsführung: Micha Augstein
                p.text-footer UST-ID: DE312186140
            .col
                p.text-footer Sparkasse Wetzlar
                p.text-footer IBAN DE66515500350002102291
                p.text-footer BIC HELADEF1WET